body{
    /* background-repeat: no-repeat; 
    overflow: hidden; */
    position: relative;
    background-color: black;
}
h1{
    position: relative;
    color: green;
    font-size: 55px;
    -webkit-text-stroke: 1px ;
}
h1:hover{
    position: relative;
    left: 600px;
    color: green;
    font-size: 55px;
    -webkit-text-stroke: 1px  lightgreen;
}
h2{
    position: relative;
    color: green;
    font-size: 55px;
    -webkit-text-stroke: 1px ;
}
h2:hover{
    position: relative;
    left: 500px;
    color: green;
    font-size: 55px;
    -webkit-text-stroke: 1px  lightgreen;
}
h3{
    position: relative;
    color: green;
    font-size: 55px;
    -webkit-text-stroke: 1px ;
}
h3:hover{
    position: relative;
    left: 400px;
    color: green;
    font-size: 55px;
    -webkit-text-stroke: 1px  lightgreen;
}
h4{
    position: relative;
    color: green;
    font-size: 55px;
    -webkit-text-stroke: 1px ;
}
h4:hover{
    position: relative;
    left: 300px;
    color: green;
    font-size: 55px;
    -webkit-text-stroke: 1px  lightgreen;
}
h5{
    position: relative;
    color: green;
    font-size: 55px;
    -webkit-text-stroke: 1px ;
}
h5:hover{
    position: relative;
    left: 200px;
    color: green;
    font-size: 55px;
    -webkit-text-stroke: 1px  lightgreen;
}
h6{
    position: relative;
    color: green;
    font-size: 55px;
    -webkit-text-stroke: 1px ;
}
h6:hover{
    position: relative;
    left: 100px;
    color: green;
    font-size: 55px;
    -webkit-text-stroke: 1px  lightgreen;
}

p{
    position: relative;
    color: green;
    font-size: 45px;
    -webkit-text-stroke: 2px;   
}
p:hover{
    position: relative;
    color: green;
    font-size: 45px;
    -webkit-text-stroke: 2px seagreen;   
}
button{
    background-color: darkolivegreen;
    position: relative;
    color: lawngreen;
    font-size: 45px;
}
button:active{
    background-color: darkolivegreen;
    position: relative;
    color: lightgreen;
    font-size: 45px;
    -webkit-text-stroke :2px black;
}
button:hover{
    background-color: lawngreen;
    position: relative;
    color: darkolivegreen;
    font-size: 45px;
    cursor: pointer;
}
label{
    position: relative;
    color: green;
    font-size: 45px;
    -webkit-text-stroke: 2px;   
}
label:hover{
    position: relative;
    color: green;
    font-size: 45px;
    -webkit-text-stroke: 2px darkolivegreen;   
}
input{
    background-color: darkolivegreen;
    color: lawngreen;
}
input:active{
    background-color: darkolivegreen;
    color: lawngreen;
    border: none;
}
input:hover{
    background-color: green;
    color: lawngreen;
    border-radius: 10px;
}
a{
    color: green;
    font-size: 45px;
}
u:hover{
    -webkit-text-stroke: 2px lightgreen;    
}
